@font-face {
    font-family: "Munich Sans";
    src: url("Fonts/munich-sans.ttf");
}

@font-face {
    font-family: "Simplifica";
    src: url("Fonts/simplifica.ttf");
}

html,body{ margin:0; padding:0; height:100%; width:100%; }
h1{
  position: relative;
  font-family: Simplifica;
  font-size: 5vw;
  color: white;
  display: block;
  text-align: center;
  margin-top: 0px;
}

p{
  position: relative;
  font-family: Simplifica;
  font-size: 24px;
  color: white;
  text-align: left;
}

/*===================NAVIGATION BAR===============*/
.topnavbar {
 font-family: Munich Sans;
 overflow: hidden;
 background-color: #333;
 position: fixed; /* Set the navbar to fixed position */
 top: 0; /* Position the navbar at the top of the page */
 width: 100%; /* Full width */
 box-shadow: 0 8px 4px -4px rgba(0,0,0,.2);
 z-index: 500;
}

/* Links inside the navbar */
.topnavbar a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

/* Change background on mouse-over */
.topnavbar a:hover {
 background: #ddd;
 color: black;
}
/*===================BACKGROUND PARALLAX IMAGE AND LANDING===============*/
.bgparallax {
  /*Source*/
  background-image: url("bgparallax.jpg");
  /*Move margin, make image wider, set min height*/
  min-height: 900px;
  width: 100%;
  max-height: 100vh;
  /*Parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.bgcenteredtext {
  position: absolute;
  font-family: Munich Sans;
  font-size: 10vw;
  color: white;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
  top: 50%;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
}
.bgcenteredsubtext {
  position: absolute;
  font-family: Simplifica;
  font-size: 3vw;
  color: white;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes reveal {
  80%{
    letter-spacing: 20px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.links {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(3px 3px 5px #222);
  filter: drop-shadow(3px 3px 5px #222);
}

#full-size{
  height:100%;
  width:100%;
}
  /*===================INTRODUCTION===============*/

.introduction, .introbody{
  background-color: #333333;
  padding-top: 25px;
}

#intropicture {
  position:relative;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  width:20vw;
  height:20vw;
  border-radius:50%;
}

.introbody{
  padding-top: 200px;
  margin-top:-55px;
  padding-bottom: 400px;
}

.intropicture{
  float:left;

  width: 25%;
}

.introtext{
  float:right;
  margin-top: -100px;
  width: 75%;
}
